<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <p class="info"><%= title %></p>

  <a href="/" class="new-btn">Return to Home</a>

  <%- include("./partials/footer") %>
</body>

</html>