<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>

  <form action="" method="POST">
    <p>Delete account?</p>
    <p>This will remove all messages associated with this account.</p>
    <button type="submit">DELETE</button>
  </form>



  <%- include("./partials/footer") %>
</body>

</html>