<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <main>
    <form action="" method="POST">
      <p class="info">Delete post?</p>
      <button type="submit" class="submit-button">DELETE</button>
    </form>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>