<div class="features-container">
  <div class="feature">
    <img src="/images/eye.png" alt="eye icon" class="feature-icon" />
    <p class="key-feature">public visibility</p>
    <p class="feature-desc">
      All messages are accessible to all club visitors.
    </p>
  </div>
  <div class="feature">
    <img src="/images/content.png" alt="eye icon" class="feature-icon" />
    <p class="key-feature">content creation</p>
    <p class="feature-desc">
      All members possess the privilege to compose messages.
    </p>
  </div>
  <div class="feature">
    <img src="/images/author.png" alt="eye icon" class="feature-icon" />
    <p class="key-feature">author disclosure</p>
    <p class="feature-desc">
      The exclusive right to unveil message authors is reserved solely for our
      esteemed members.
    </p>
  </div>
  <div class="feature">
    <img src="/images/admin.png" alt="eye icon" class="feature-icon" />
    <p class="key-feature">admin oversight</p>
    <p class="feature-desc">
      Administrators have comprehensive access, including message deletion.
    </p>
  </div>
</div>