<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head'); %>
  </head>

  <body>
    <%- include('./templates/header'); %>
    <main>
      <p class="page-title"><%= title %></p>

      <p>main content goes here</p>
    </main>
    <footer><%- include('./templates/footer') %></footer>
  </body>
</html>
