<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <p>some home page text!</p>

  <% if (currentUser) { %>
  <a href="">LOG OUT</a>
  <a href="">NEW MESSAGE</a>
  <% } else { %>
  <nav>
    <a href="/log-in">LOG IN</a>
    <a href="sign-up">SIGN UP</a>
  </nav>
  <% } %>

  <%- include("./partials/footer") %>
</body>

</html>