<% if (post_list.length > 0) { %>
<% post_list.forEach(function(post) { %>
<p><%= post.title %></p>
<p><%= post.message %></p>
<p><%= post.username %></p>
<p><%= post.timestamp %></p>
<% }); %>
<% } else { %>
<p>There are no messages to display yet.</p>
<% } %>