<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./templates/head'); %>
  </head>

  <body>
    <%- include('./templates/header'); %>
    <main>
      <% if (currentUser && currentUser.isMember) { %>
      <p>Messages with hidden date and author</p>
      <% } else { %>
      <p>Messages with displayed date and author</p>
      <% } %>
    </main>
    <footer><%- include('./templates/footer') %></footer>
  </body>
</html>
