<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>

  <div>
    <h1>SIGN UP</h1>
    <p>Fields marked with * are required</p>
    <form action="/sign-up" method="POST">
      <label for="firstname">First name *</label>
      <li>must be between 2 and 30 characters long</li>
      <li>can only contain letters</li>
      <input type="text" name="firstname" id="firstname" placeholder="Secret" required>

      <label for="lastname">Last name *</label>
      <li>must be between 2 and 30 characters long</li>
      <li>can only contain letters</li>
      <input type="text" name="lastname" id="lastname" placeholder="Squirrel" required>

      <label for="username">Username *</label>
      <li>must be between 5 and 20 characters long</li>
      <li>can only contain letters and numbers</li>
      <input type="text" id="username" name="username" placeholder="kittycat007" required>

      <label for="password">Password *</label>
      <li>must be at least 8 characters long</li>
      <li>must contain at least 1 number</li>
      <li>must contain at least 1 uppercase letter</li>
      <input id="password" name="password" type="password" minlength="8" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must be at least 8 characters long, contain at least one  number and one uppercase letter" autocomplete="off" required />

      <label for="confirmPassword">Confirm password *</label>
      <input id="password" name="password" type="password" minlength="8" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must be at least 8 characters long, contain at least one  number and one uppercase letter" autocomplete="off" required />
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <%- include("./partials/footer") %>
</body>

</html>