<header>
  <div class="logo-container">
    <img
      src="/images/logo.png"
      class="logo-img"
      alt="incognito and two message bubbles icon"
    />
    <div class="logo-text">
      <p class="incognito">incognito</p>
      <p class="accent">members only</p>
    </div>
  </div>

  <nav>
    <a href="">LOG IN</a>
    <p class="accent">|</p>
    <a href="">SIGN UP</a>
  </nav>
</header>
